
<div class="full_width" id="portada">

    <img src="/images/EVENTOS/Reiki_cover02.jpg">

    <div class="degradado"></div>

    <div class="texto_portada">
      
        <h1>Reiki Nivel I</h1>

        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a ex pulvinar, vulputate arcu sit amet, gravida nulla. Nulla facilisi. Vivamus nisi lectus, gravida eget interdum id, tincidunt at nibh. Phasellus lobortis augue quis condimentum consequat. Donec quis urna consectetur, auctor dui at, volutpat enim.</h4>

    </div>

</div>

<div class="row valign">
	
	<div class="col-sm-6">

		<div class="centered_90 centrado completo">

		  	<div class="gap"></div>

		  	<div class="info_evento">

		  		<span class="fecha">Sábado 3 de Octubre</span>

		  		<span class="hora">9.30 a 14hs</span>

		  		<span class="lugar">Aruma Beccar, Lorem Ipsum 3344</span>

		  		<span class="owner">de <a href="">Delfina Monteverde</a></span>

		  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a ex pulvinar, vulputate arcu sit amet, gravida nulla. Nulla facilisi. Vivamus nisi lectus, gravida eget interdum id, tincidunt at nibh. Phasellus lobortis augue quis condimentum consequat. Donec quis urna consectetur, auctor dui at, volutpat eni</p>

		  	</div>

		</div>

	</div>

	<div class="col-sm-6">

		<img src="/images/EVENTOS/reikiEsencial_flyer01.jpg" width="100%">

	</div>

</div>

<div class="row sec_donde">

	<div class="row-height">
	
		<div class="col-sm-4 donde_tit col-sm-height col-sm-middle">

			<h1>Dónde podés encon- trarnos</h1>

		</div>

		<div class="col-sm-8 donde_map">

			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d105073.23949906467!2d-58.43329845000001!3d-34.615823750000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1446645514133" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

		</div>

	</div>

</div>

<div class="sec_twitter">

	<i class="fa fa-twitter"></i>
	
	<p>@ana-es: compartiendo un delicioso helado con mis amigos. #haulani</p>

</div>

<div class="sec_fotos">

	<h1>#reiki</h1>

	<h4>Momentos que hacen bien</h4>

	<div class="row grilla_instagram">

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram01.jpg">

		</div>

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram02.jpg">

		</div>

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram03.jpg">

		</div>

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram04.jpg">

		</div>

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram05.jpg">

		</div>

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram06.jpg">

		</div>

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram07.jpg">

		</div>

		<div class="col-sm-4">

			<img src="/images/haulani/instagram/hau_instagram08.jpg">

		</div>

	</div>

</div>



<div class="gap"></div>
