<div>

    <div class="mini_gap"></div>

    <div class="filtros">

        <div class="btn-group" data-toggle="buttons">
            
            <label class="btn btn-primary active">
                
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Todo
            
            </label>

            <label class="btn btn-primary">

                <input type="radio" name="options" id="option2" autocomplete="off"> Centros
            
            </label>
            
            <label class="btn btn-primary">
                
                <input type="radio" name="options" id="option3" autocomplete="off"> Emprendimientos
            
            </label>
            
            <label class="btn btn-primary">
                
                <input type="radio" name="options" id="option4" autocomplete="off"> Formación
            
            </label>
            
            <label class="btn btn-primary">
                
                <input type="radio" name="options" id="option5" autocomplete="off"> Actividades
            
            </label>
        
        </div>

    </div>

    <div class="gap"></div>

    <div></div>










</div>
